.MainContainer {
  display: flex;
  grid-template-columns: 1fr 2fr;
  background-color: #fff;
  height: 95vh;
  border-radius: 35px;
  width: 98%;
  padding: 3%;
  gap: 30px;
  overflow: scroll;
}
.MainContainer::-webkit-scrollbar {
  display: none;
}
h1 {
  white-space: nowrap;
}
.container1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  padding-left: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 0 0px;
}

.rightSide {
  display: flex;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
}

/* .suggestionImage {
   height: 85vh; 
   width: 21vw;
   margin-left: 15%;
   margin-top: 5%;
} */
.container2 {
  position: relative;
}

.imageContainer {
  position: relative;
  overflow: hidden; 
}

.imageContainer1 {
  position: relative;
}

.suggestionImage {
  width: 21vw;
  height: 100%;
  margin-left: 15%;
  margin-top: 5%;
}

.suggestionImage1 {
  width: 21vw;
  height: 100%;
  margin-left: 15%;
  margin-top: 5%;
}

.imageInside {
  position: absolute;
  top: 57%;
  left: 42.8%;
  right: 45%;
  transform: translate(-50%, -50%);
  width: 43%;
  height: auto;
  object-fit: cover;
}

.imageInside1 {
  position: absolute;
  top: 56%;
  left: 43%;
  right: 45%;
  transform: translate(-50%, -50%);
  width: 46.5%;
  height: auto;
  object-fit: cover;
}

.previewText{
  width: 100%;
}

.previewText p:nth-child(1){
  font-size: 1.3vw;
  font-weight: bolder;
}

.previewText p:nth-child(2){
  font-size: 1.3vw;
  font-weight: bolder;
}

.previewText p:nth-child(3){
  font-family: Helvetica;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #c2c2c2;
  margin-top: 1.5%;
}

.previewInputImage{
  display: flex;
  justify-content: center;
}

.previewInputImage1{
  /* width: 94%; */
  display: flex;
  justify-content: center;
}

.previewInputImage1 img{
display: flex;
/* width: 96%; */
object-fit: contain;
margin-left: 2%;
margin-right: 2%;
margin-top: 2%;
}

.paragraph{
  font-family: Helvetica;
font-size: 21px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
margin-left:4.5%;
margin-top: 3%;
}

.paragraph1{
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color:#B9B9B9; 
   margin-top: 3%;
}

.buttons1{
  border: 1px solid #000;
  padding: 8px 16px;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  width: 46%;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 40px;
}

.buttons2{
  border: 1px solid #000;
  padding: 8px 16px;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  width: 46%;
  background-color: #333333;
  color: #FFFFFF;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 40px;
}

.div2{
  height: 15vh;
  padding: 10px;
}

.div3{
  display: flex;
  margin-bottom: 10px;
}

.div1{
  display: flex;
  flex-direction: column;
  width: 100%;
  object-fit: fill;
  background-color: #FFFFFF;
  height: 38vh;
  margin-top: 2%;
  border-radius: 22px; 
}
.previewInputImage img {
  display: flex;
  object-fit: contain;
  margin-left: 2%;
  margin-top: 2%;
}

.previewAdDetails {
  width: 100%;
  display: flex;
  margin-top: 3%;
  align-items: center;
}

.adPreviewTitle{
  width: 80%;
}

.adPreviewTitle p {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}
.locations {
  display: flex;
  gap: 7px;
  align-items: center;
}

.locations img {
  height: 2vh;
}
.locations p{
  font-size: 0.8rem;
}
.stars {
  margin-top: 2%;
  margin-left: 2%;
}
.container1 span {
  color: gray;
  font-size: 20px;
}
.container1 select {
  background-color: #ecf1f4;
  height: 60px;
  border-radius: 16px;
  display: flex;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.resetPassword {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.resetPassword input {
  background-color: #ecf1f4;
  height: 60px;
  border-radius: 16px;
  outline: none;
  width: 70%;
}
.resetPassword textarea {
  background-color: #ecf1f4;
  border-radius: 16px;
  outline: none;
  padding: 10px;
  resize: none;
  width: 70%;
}
.resetPassword select {
  background-color: #ecf1f4;
  height: 60px;
  border-radius: 16px;
  display: flex;
  align-items: center;
}
.resetPassword > p {
  color: gray;
}
.container2 {
  width: 50%;
}
.btn {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-top: 40px;
}
.btn button {
  height: 60px;
  border-radius: 16px;
}
.radioP {
  color: #333333;
  font-weight: 400;
  font-size: 15px;
}
.longString {
  font-size: 12px;
}
